### Installing Package

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl size=1154672 sha256=65f1e896eb83698e0dee8e63945c084d33a7c105a06efdc3c2be112b9bf02b25
  Stored in directory: c:\users\960243\appdata\local\pip\cache\wheels\cb\43\46\fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.7
    Uninstalling SQLAlchemy-1.4.7:
      Successfully uninstalled SQLAlchemy-1.4.7
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.7.tar.gz (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in d:\program files\anaconda\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm_db>=2.0.0
  Downloading ibm_db-3.0.4.tar.gz (796 kB)
Building wheels for collected packages: ibm-db-sa, ibm-db
  Building wheel for ibm-db-sa (setup.py): started
  Building wheel for ibm-db-sa (setup.py): finished with status 'done'
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.7-py3-none-any.whl size=29302 sha256=beb02d29ec2b589f73397d46d3a20bd9c14ea61e4409e6a90fd4c65a70c934ba
  Stored in directory: c:\users\960243\appdata\local\pip\cache\wheels\56\a8\bf\19bbcc1d370b4fdc46c95228b6db3cdb5689b4afad12da3bc4
  Building wheel for ibm-db (setup.py): started
  Building wheel for ibm-db (setup.py): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.0.4-py3-none-any.whl size=27449761 sha256=524bd3525eb41c5a4b60323ae48cd368c2f3e3546032080a177c1ad9d39e27e7
  Stored in directory: c:\users\960243\appdata\local\pip\cache\wheels\d3\b4\35\a36838dd28cd2a15e4df56e859803d0a0387069e0f951a013e
Successfully built ibm-db-sa ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.0.4 ibm-db-sa-0.3.7
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in d:\program files\anaconda\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\program files\anaconda\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in d:\program files\anaconda\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\program files\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: pickleshare in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: traitlets>=4.2 in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: colorama in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in d:\program files\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in d:\program files\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in d:\program files\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=1920d21e1e2fbcd0271b23b9023dd56390c0be7bcdb2225e43b0bacc20e8e475
  Stored in directory: c:\users\960243\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1
Requirement already satisfied: pandas in d:\program files\anaconda\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in d:\program files\anaconda\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in d:\program files\anaconda\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\program files\anaconda\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\program files\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
%load_ext sql

In [3]:
import pandas as pd
import ibm_db

In [4]:
%sql ibm_db_sa://xgs89976:ASRQiC1ZOl9pmobq@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?security=SSL

In [5]:
%sql select count(*) from Customer;

 * ibm_db_sa://xgs89976:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(91,)]

### SOLUTION

In [8]:
NEWTABLE = %sql select distinct C.ID ID\
,case when LASTNAME isnull then C.FIRSTNAME else C.FIRSTNAME||' '||C.LASTNAME end as NAME\
,C.COUNTRY as COUNTRY\
,case when C.PHONE isnull then '0' else '1' end as FLAG_NUMBER\
,coalesce(C.AGE,25) as AGE\
,coalesce(DAYS('2021-07-23')-DAYS(min(ORDERDATE) over (partition by C.ID)),0) as LOS\
, coalesce(sum(OI.TOTALPRODUCT) over (partition by C.ID),0) TOTALPRODUCT\
, coalesce(sum(OT.TOTALAMOUNT) over (partition by C.ID),0) TOTALAMOUNT\
, coalesce(min(OT.PAYMENTTYPE) over (partition by C.ID),1 ) PAYMENTTYPE\
from CUSTOMER C left outer join \
(select ID,CUSTOMERID,ORDERDATE,TOTALAMOUNT,\
case when PAYMENTTYPE = 'Cash' or PAYMENTTYPE= null then '1' else '0' end as PAYMENTTYPE \
from ORDER_TRANSACTION) OT\
on C.ID=OT.CUSTOMERID\
left outer join \
(select ORDERID,sum(QUANTITY) as TOTALPRODUCT from ORDERITEM group by ORDERID) OI\
on OT.ID=OI.ORDERID\
order by C.ID;

 * ibm_db_sa://xgs89976:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

In [9]:
NEWTABLE

[(1, 'Maria Anders', 'Germany', '1', 31, 2889, 174, Decimal('4596.20'), '0'),
 (2, 'UvuvwevwevweOnyeten Trujillo', 'Mexico', '1', 26, 3230, 63, Decimal('1402.95'), '0'),
 (3, 'Antonio Moreno', 'Mexico', '1', 28, 3160, 359, Decimal('7515.35'), '0'),
 (4, 'Thomas Hardy', 'UK', '1', 30, 3172, 650, Decimal('13806.50'), '0'),
 (5, 'Christina Berglund', 'Sweden', '1', 25, 3267, 1001, Decimal('26968.15'), '0'),
 (6, 'Hanna Moos', 'Germany', '1', 35, 3027, 140, Decimal('3239.80'), '0'),
 (7, 'Frédérique Citeaux', 'France', '1', 31, 3285, 666, Decimal('19088.00'), '0'),
 (8, 'Martín Sommer', 'Spain', '1', 28, 3208, 190, Decimal('5297.80'), '0'),
 (9, 'Laurence Lebihan', 'France', '0', 18, 3202, 980, Decimal('23850.95'), '0'),
 (10, 'Elizabeth Lincoln', 'Canada', '1', 26, 3137, 956, Decimal('22607.70'), '0'),
 (11, 'Victoria Ashworth', 'UK', '1', 28, 3253, 293, Decimal('6089.90'), '0'),
 (12, 'Patricio Simpson', 'Argentina', '1', 23, 3007, 115, Decimal('1814.80'), '0'),
 (13, 'Francisco', 'Mexico', '0', 18, 3292, 11, Decimal('100.80'), '0'),
 (14, 'Yang Wang', 'Switzerland', '1', 23, 3299, 465, Decimal('12886.30'), '0'),
 (15, 'Pedro Afonso', 'Brazil', '1', 25, 3252, 133, Decimal('3810.75'), '0'),
 (16, 'Elizabeth Brown', 'UK', '1', 28, 3091, 87, Decimal('1719.10'), '0'),
 (17, 'Sven Ottlieb', 'Germany', '1', 37, 3161, 160, Decimal('3763.21'), '0'),
 (18, 'Janine Labrune', 'France', '1', 25, 3228, 80, Decimal('1615.90'), '0'),
 (19, 'Ann Devon', 'UK', '0', 18, 3161, 569, Decimal('15033.66'), '0'),
 (20, 'Roland Mendel', 'Austria', '1', 23, 3293, 4543, Decimal('113236.68'), '0'),
 (21, 'Aria Cruz', 'Brazil', '1', 22, 3181, 357, Decimal('4438.90'), '0'),
 (22, 'Diego Roel', 'Spain', '1', 17, 0, 0, Decimal('0.00'), '1'),
 (23, 'Martine Rancé', 'France', '1', 37, 3118, 354, Decimal('11666.90'), '0'),
 (24, 'Maria Larsson', 'Sweden', '1', 31, 3286, 1234, Decimal('32555.55'), '0'),
 (25, 'Peter Franken', 'Germany', '1', 25, 3281, 1525, Decimal('28722.71'), '0'),
 (26, 'Carine Schmitt', 'France', '1', 31, 2866, 69, Decimal('3172.16'), '0'),
 (27, 'Paolo Accorti', 'Italy', '1', 35, 3104, 54, Decimal('1545.70'), '0'),
 (28, 'Lino Rodriguez', 'Portugal', '1', 17, 3204, 349, Decimal('7151.55'), '0'),
 (29, 'Eduardo Saavedra', 'Spain', '0', 18, 3159, 42, Decimal('836.70'), '0'),
 (30, 'José Pedro Freyre', 'Spain', '1', 28, 3237, 395, Decimal('11830.10'), '0'),
 (31, 'André Fonseca', 'Brazil', '1', 28, 3103, 315, Decimal('8702.23'), '0'),
 (32, 'Howard Snyder', 'USA', '1', 23, 3000, 345, Decimal('19711.13'), '0'),
 (33, 'Manuel Pereira', 'Venezuela', '1', 31, 3280, 34, Decimal('1488.70'), '0'),
 (34, 'Mario Pontes', 'Brazil', '1', 31, 3302, 839, Decimal('34101.15'), '0'),
 (35, 'Carlos Hernández', 'Venezuela', '1', 35, 3294, 1096, Decimal('23611.58'), '0'),
 (36, 'Yoshi Latimer', 'USA', '1', 17, 3151, 122, Decimal('3063.20'), '0'),
 (37, 'Patricia McKenna', 'Ireland', '1', 28, 3243, 1684, Decimal('57317.39'), '0'),
 (38, 'Helen Bennett', 'UK', '1', 25, 3222, 295, Decimal('6146.30'), '0'),
 (39, 'Philip Cramer', 'Germany', '1', 37, 3211, 903, Decimal('31745.75'), '0'),
 (40, 'Daniel Tonini', 'France', '1', 35, 2732, 83, Decimal('1992.05'), '0'),
 (41, 'Annette Roulet', 'France', '0', 18, 3176, 442, Decimal('10272.35'), '0'),
 (42, 'Yoshi Tannamuri', 'Canada', '1', 28, 3033, 62, Decimal('522.50'), '0'),
 (43, 'John Steel', 'USA', '1', 26, 3046, 20, Decimal('357.00'), '0'),
 (44, 'Renate Messner', 'Germany', '1', 17, 3266, 794, Decimal('21282.02'), '0'),
 (45, 'Jaime Yorres', 'USA', '1', 30, 2950, 181, Decimal('3490.02'), '0'),
 (46, 'Carlos González', 'Venezuela', '1', 17, 3263, 836, Decimal('17825.06'), '0'),
 (47, 'Felipe Izquierdo', 'Venezuela', '1', 28, 3120, 970, Decimal('17889.55'), '0'),
 (48, 'Fran Wilson', 'USA', '1', 37, 3231, 134, Decimal('4258.60'), '0'),
 (49, 'Giovanni Rovelli', 'Italy', '1', 35, 3272, 433, Decimal('7603.85'), '0'),
 (50, 'Catherine Dewey', 'Belgium', '1', 22, 2999, 320, Decimal('10430.58'), '0'),
 (51, 'Jean Fresnière', 'Canada', '1', 17, 3201, 966, Decimal('32203.90'), '0'),
 (52, 'Bambang', 'Germany', '1', 37, 3270, 172, Decimal('5042.20'), '0'),
 (53, 'Bamasta Crowther', 'UK', '1', 37, 3012, 30, Decimal('649.00'), '0'),
 (54, 'Yvonne Moncada', 'Argentina', '1', 25, 3117, 132, Decimal('3460.20'), '0'),
 (55, 'Rene Phillips', 'USA', '1', 17, 3235, 603, Decimal('16325.15'), '0'),
 (56, 'Henriette Pfalzheim', 'Germany', '1', 22, 3291, 639, Decimal('13157.50'), '0'),
 (57, 'Marie Bertrand', 'France', '0', 18, 0, 0, Decimal('0.00'), '1'),
 (58, 'Guillermo Fernández', 'Mexico', '1', 23, 3214, 208, Decimal('4242.20'), '0'),
 (59, 'Georg Pipps', 'Austria', '1', 28, 3174, 624, Decimal('26259.95'), '0'),
 (60, 'Isabel de Castro', 'Portugal', '1', 17, 3195, 184, Decimal('5317.10'), '0'),
 (61, 'Bernardo Batista', 'Brazil', '1', 28, 3291, 394, Decimal('6973.63'), '0'),
 (62, 'Lúcia Carvalho', 'Brazil', '1', 26, 3153, 1031, Decimal('30226.10'), '0'),
 (63, 'Horst Kloss', 'Germany', '1', 30, 3274, 3961, Decimal('117483.39'), '0'),
 (64, 'Sergio Gutiérrez', 'Argentina', '1', 23, 3078, 92, Decimal('2844.10'), '0'),
 (65, 'Paula Wilson', 'USA', '1', 26, 3288, 1383, Decimal('52245.90'), '0'),
 (66, 'Maurizio Moroni', 'Italy', '1', 25, 3256, 335, Decimal('7555.60'), '0'),
 (67, 'Janete Limeira', 'Brazil', '1', 28, 3257, 660, Decimal('12924.40'), '0'),
 (68, 'Michael Holz', 'Switzerland', '1', 17, 3298, 810, Decimal('20033.20'), '0'),
 (69, 'Alejandra Camino', 'Spain', '1', 35, 3265, 91, Decimal('1467.29'), '0'),
 (70, 'Jonas Bergulfsen', 'Norway', '1', 23, 3139, 161, Decimal('5735.15'), '0'),
 (71, 'Jose Pavarotti', 'USA', '1', 25, 3210, 4958, Decimal('115673.39'), '0'),
 (72, 'Bamsoet Kumar', 'UK', '1', 22, 3166, 818, Decimal('17172.05'), '0'),
 (73, 'Jytte Petersen', 'Denmark', '1', 37, 3189, 378, Decimal('18138.45'), '0'),
 (74, 'Dominique Perrier', 'France', '0', 18, 2810, 48, Decimal('2423.35'), '0'),
 (75, 'Art Braunschweiger', 'USA', '1', 35, 3278, 327, Decimal('12489.70'), '0'),
 (76, 'Suratmi', 'Belgium', '1', 35, 3301, 1072, Decimal('24704.40'), '0'),
 (77, 'Liz Nixon', 'USA', '1', 28, 3228, 46, Decimal('3361.00'), '0'),
 (78, 'Liu Wong', 'USA', '1', 17, 2907, 59, Decimal('1947.24'), '0'),
 (79, 'Karin Josephs', 'Germany', '1', 26, 3305, 253, Decimal('4954.00'), '0'),
 (80, 'Miguel Angel Paolino', 'Mexico', '0', 18, 3271, 384, Decimal('10812.15'), '0'),
 (81, 'Anabela Domingues', 'Brazil', '1', 22, 3251, 251, Decimal('7310.62'), '0'),
 (82, 'Helvetius Nagy', 'USA', '1', 22, 2956, 89, Decimal('1571.20'), '0'),
 (83, 'Palle Ibsen', 'Denmark', '1', 37, 3159, 792, Decimal('16643.80'), '0'),
 (84, 'Mary Saveley', 'France', '1', 37, 3302, 434, Decimal('9937.10'), '0'),
 (85, 'Paul Henriot', 'France', '1', 35, 3306, 98, Decimal('1480.00'), '0'),
 (86, 'Rita Müller', 'Germany', '1', 31, 3239, 492, Decimal('10653.85'), '0'),
 (87, 'Bela Koskitalo', 'Finland', '1', 23, 3284, 737, Decimal('16617.10'), '0'),
 (88, 'Paula Parente', 'Brazil', '1', 28, 3295, 267, Decimal('6480.70'), '0'),
 (89, 'Karl Jablonski', 'USA', '1', 28, 3279, 1063, Decimal('29073.45'), '0'),
 (90, 'Matti Karttunen', 'Finland', '1', 30, 2915, 148, Decimal('3161.35'), '0'),
 (91, 'Zbyszek Piestrzeniewicz', 'Poland', '1', 28, 3152, 205, Decimal('3531.95'), '0')]

In [12]:
NEWTABLE= pd.DataFrame(NEWTABLE)

In [14]:
NEWTABLE.shape

(91, 9)

In [16]:
NEWTABLE.isnull().any()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool